body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #121212;
  color: white;

  .sidebar {
    .menu-bar {
      background-color: #121212;
      width: 0px;
      height: 100vh;
      transition: background-color 0.3s, color 0.3s;
      overflow: hidden;
      color: white;
    }
  }

  .main-content {
    .container {
      .weather-table {
        transition: background-color 0.3s, color 0.3s;
        background-color: #1a1a1aa4;
        color: white;
        thead {
          tr:hover {
            background: #8d8d8d;
          }
          tr {
            th {
              background-color: #1a1a1aa4;
              color: white;
            }
          }
        }
        tbody {
          tr:hover {
            background: #8d8d8d;
          }
        }
      }
    }
  }
}
